.imageContainer img{
    display: inline-block;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 8px;
    transform: translate(4.5rem, 1.7rem);
   
}
.imageContainers img{
    display: inline-block;
    background-color: white;
    width: clamp(8rem, 90vw, 10rem);
    height:clamp(9rem, 90vw, 10rem);
    align-items: center;
    border-radius: 70%;
    padding: 1px;
    
}
.Holder{

   display: absolute;
    z-index: 2;
    width:fit-content ;
    height: 80vh;
    bottom: 0vh;
    margin: 6px;
    overflow: hidden;
    
   
}
.imgDes{
    border: 2px solid black
}
.Wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  
    overflow: hidden;
    position: relative;
}
.ProfileSection{
    height: auto;
    max-height: fit-content;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 80px;
}
