.cover {
    background-image: url('../assets/image/plant.jpg');
    background-size: cover;
    height: 660px;
    width: auto;
    margin-bottom: 30px;
    padding-top: 270px;
    padding-left: 750px;
}

.who {
    height: auto;
    width: auto;
    margin-bottom: 60px;
}

.what {
    height: auto;
    width: auto;
    margin-bottom: 0px;
}

.text {
    height: auto;
    width: auto;
}

.bigtext {
    height: auto;
    width: auto;
}

.content {
    height: 320px;
}