video {
    object-fit: cover;
    width: 100%;
    height: 50%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.hero-container > h1 {
    margin-top: 200px;
    font-size: 75px;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-column {
    position: relative;
    z-index: 1;
}

.wrapper-column .max {
    max-width: 1200px;
}

.wrapper-column .width {
    width: 88%;
}

.x-column {
    position: relative;
    z-index: 1;
    float: left;
    margin-right: 4%;
}

.x-column .x-1-2 {
    width: 48%;
}

.typography-title {
    margin-top: 70px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Pathway Gothic One";
}