.homepage-background{
    background-image: url('../assets/image/background.jpg');
    background-size: cover;
    height:600px;
    margin-bottom: 40px;
  }
  .headerfonts{
    font-family: 'Brush Script MT', cursive;
    font-weight: 900;
  }
  .design{
    padding-top: 40px;
  
  }
  .homepage-pics{
    background-image: url('../assets/image/eco-friendly.jpg');
    background-size: cover;
    height:400px;
    margin-bottom: 10px;
  }
  .cards{
    margin-bottom: 20px;
    margin-left: 30px;
  }
  