.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
<<<<<<< HEAD
.homepage-background{
  background-image: url('./assets/image/background.jpg');
  background-size: cover;
  height:600px;
  margin-bottom: 40px;
}
.headerfonts{
  font-family: 'Brush Script MT', cursive;
  font-weight: 900;
}
.design{
  padding-top: 40px;

}
.homepage-pics{
  background-image: url('./assets/image/eco-friendly.jpg');
  background-size: cover;
  height:400px;
  margin-bottom: 10px;
}
.cards{
  margin-bottom: 20px;
  margin-left: 30px;
}
=======
>>>>>>> 598a4f9c2a37abeaa2a45db53cb98d0aaad22b47
